@model IEnumerable<DienMayWebsiteQuyetTien.Models.BangSanPham>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new {@class="btn btn-success" })
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                Mã Sản Phẩm
            </th>
            <th>
                Tên Sản Phẩm
            </th>
            <th>
               Giá bán
            </th>
            <th>
               Giá gốc
            </th>
            <th>
               Giá góp
            </th>
            <th>
                Số lượng tồn
            </th>
            <th>
               Tên loại
            </th>
            <th>
                Hình ảNH
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                   @item.MaSP
                </td>
                <td>
                    @item.TenSP
                </td>
                <td>
                   @item.GiaBan.ToString("#,##")
                </td>
                <td>
                   @item.GiaGoc.ToString("#,##")
                </td>
                <td>
                   @item.GiaGop.ToString("#,##")
                </td>
                <td>
                    @item.SoLuongTon
                </td>
                <td>
                   @item.LoaiSanPham.TenLoai
                </td>
                <td>
                    
                    <img src="@Url.Action("Details", new  { id = item.id })" width="70" height="50" />
                <td>
                    @Html.ActionLink(" ", "Edit", new { id = item.id }, new { @class = "btn btn-primary glyphicon glyphicon-pencil" }) 
                    @Html.ActionLink(" ", "Delete", new { id = item.id }, new { @class = "btn btn-danger glyphicon glyphicon-trash" })
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />

<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>
}

